{% extends "base.html" %}
{% from 'partials/breadcrumbs.html' import show_breadcrumbs with context %}

{% block style %}
<link rel="stylesheet" href="/static/css/flashcard_preview.css">
{% endblock %}

{% block content %}
<!-- Populating flashcard data in meta tag -->
<meta id="my-data" data-collection="{{flashcards}}">

<!-- Start Hero Carousel -->
<section class="section">
    <div class="container is-center">
        {{show_breadcrumbs('flashcards', collection.name, 'Preview')}}
    </div>
    <header>
        <h1 class="title">Click Card to Reveal Answer</h1>
    </header>
    <main>
        <button id="prev"></button>
        <div id="card">
            <div class="side front">
            </div>
            <div class="side back"></div>
        </div>
        <button id="next"></button>
    </main>
    <br />
    <!-- <div class="container has-text-centered">
        <button class="button is-success">Correct</button>
        <button class="button is-danger">Wrong</button>
    </div> -->
    <br />
    <footer>
        <div id="count"></div>
    </footer>
</section>

<!-- End Hero Carousel -->
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/javascript-state-machine/2.0.0/state-machine.min.js"></script>
<script src="/static/js/populateFlashcards.js"></script>
{% endblock %}