{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="../static/css/dashboard.css">
{% endblock %}

{% block content %}
<section class="section first-section">
    <div class="container">
        <h1 class="title status-bar">
            Hello {{ user.username }}! Welcome to Flask Card
        </h1>
    </div>
</section>
<section>
  <div class="container">
    <span class="tag is-black">Black</span>
<span class="tag is-dark">Dark</span>
<span class="tag is-light">Light</span>
<span class="tag is-white">White</span>
<span class="tag is-primary">Primary</span>
<span class="tag is-link">Link</span>
<span class="tag is-info">Info</span>
<span class="tag is-success">Success</span>
<span class="tag is-warning">Warning</span>
<span class="tag is-danger">Danger</span>
  </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
          <div class="column is-3">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title is-centered">
                      Add new collection
                  </p>
                </header>
                <div class="card-content">
                  <div class="content has-text-centered" style="color: dodgerblue;">
                    <a href="#" id="showModal">
                      <i class="fas fa-plus-circle fa-5x"></i>
                    </a>
                  </div>
                </div>
            </div>
          </div>
          {% for item in collection %}
          <div class="column is-3">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title is-centered">
                      {{item.name}}
                  </p>
                </header>
                <div class="card-content">
                  <div class="content has-text-centered" style="color: dodgerblue;">
                    {{item.description}}
                  </div>
                </div>
                <footer class="card-footer">
                  <a href="{{url_for('main.edit_collection', id=item.id)}}" class="card-footer-item button is-warning is-outlined is-medium">Edit</a>
                  <a href="{{url_for('main.delete_collection', id=item.id)}}" class="card-footer-item button is-danger is-outlined is-medium">Delete</a>
                </footer>
            </div>
          </div>
          {% endfor %}
        </div>        
    </div>
</section>

<!-- Form to add a new collection -->
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Collection Information</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <form method="POST">
      {{form.hidden_tag()}}
      {% for message in get_flashed_messages() %}
          <div class="notification is-danger is-light">
              {{ message }}
          </div>
      {% endfor %}
      <section class="modal-card-body">
        <!-- Content ... -->
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            {{form.name(class_="input", type="text", placeholder="e.g Quiz on Algorithms")}}
          </div>
        </div>
        
        <div class="field">
          <label class="label">Category</label>
          <div class="control">
            {{form.category(class_="input", type="text", placeholder="e.g Data Structures")}}
          </div>
        </div>

        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            {{form.description(class_="textarea", placeholder="e.g Hello World. Must not be more than 256 words")}}
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <!-- <button class="button is-success">Create</button> -->
        {{form.submit(class_="button is-success")}}
      </footer>
  </form>
  </div>
</div>
{% endblock %}