{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="../static/css/outer.css">
{% endblock %}

{% block content %}
<section class="hero has-background-light is-fullheight">
    <div class="hero-body hero-background">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <h1 class="title">
                    Flask Card
                </h1>
                <h2 class="subtitle">
                    Your one-stop learning medium and tool for Computer Science and related concepts
                </h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}