{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="../static/css/outer.css">
{% endblock %}

{% block content %}
<div class="hero-body hero-background">
    <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
            <h3 class="title has-text-black">Register</h3>
            <hr class="login-hr">
            <p class="subtitle has-text-black">Sign up to use the app</p>
            <div class="box">
                <form method="POST">
                    {{form.hidden_tag()}}
                    {% for message in get_flashed_messages() %}
                        <div class="notification is-danger is-light">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="field">
                        <div class="control">
                            {{form.name(class_="input is-large", placeholder="Your Name", autofocus="")}}
                        </div>
                    </div>
                    {% if form.name.errors %}
                    <ul class="errors">
                        {% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}
                    </ul>
                    {% endif %}
    
                    <div class="field">
                        <div class="control">
                            {{form.email(class_="input is-large", placeholder="Your Email")}}
                        </div>
                    </div>
                    {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}
                    </ul>
                    {% endif %}
    
                    <div class="field">
                        <div class="control">
                            {{form.password(class_="input is-large", placeholder="Your Password")}}
                        </div>
                    </div>
                    {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}
                    </ul>
                    {% endif %}
    
                    <div class="field">
                        <div class="control">
                            {{form.pass_confirm(class_="input is-large", placeholder="Confirm Password")}}
                        </div>
                    </div>
                    {% if form.pass_confirm.errors %}
                    <ul class="errors">
                        {% for error in form.pass_confirm.errors %}<li>{{ error }}</li>{% endfor %}
                    </ul>
                    {% endif %}
                    <!-- <div class="field">
                        <label class="checkbox">
                        <input type="checkbox">
                        Remember me
                        </label>
                    </div> -->
                    {{form.submit(class_="button is-block is-info is-large is-fullwidth")}}
                    <!-- <button class="button is-block is-info is-large is-fullwidth">Sign Up <i class="fa fa-sign-in" aria-hidden="true"></i></button> -->
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}